{% extends "base.html" %}

{% block title %}Создать новый пост{% endblock %}

{% block content %}
    <h1>Создать новый пост</h1>
    <form method="post" action="/create_post">
        <label for="title">Заголовок</label>
        <input type="text" name="title" id="title" required>
        <label for="content">Содержание</label>
        <textarea name="content" id="content" required></textarea>
        <button type="submit">Создать</button>
    </form>
    <a href="/">Вернуться на стартовую страницу</a>
{% endblock %}