{% extends "base.html" %}

{% block title %}История{% endblock %}

{% block content %}
    <h1>История операций</h1>

    <div class="clear-history-container"></div>
        <form method="post" action="/history/clear">
            <button type="submit" class="clear-history-button">Очистить историю</button>
        </form>
    </div>

    <div class="history-table">
        <div class="history-header">
            <div>Название поста</div>
            <div>Операция</div>
            <div>Пользователь</div>
            <div>Время</div>
        </div>
        {% for entry in history %}
        <div class="history-row">
            <div>{{ entry.post_title }}</div>
            <div>{{ entry.operation }}</div>
            <div>{{ entry.username }}</div>
            <div>{{ entry.timestamp }}</div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}
