{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    {% if error_message %}
        <div style="color: red;">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
    <form method="post" action="/auth/login">
        <div>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required minlength="3" pattern="^[A-Za-z0-9_]+$"
                title="Имя пользователя должно содержать не менее 3 символов и состоять только из букв, цифр и символа подчёркивания">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required minlength="6">
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
    </form>
    <p>Нет аккаунта? <a href="/auth/register">Зарегистрироваться</a>.</p>
{% endblock %}
